<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="REDUCE_App1.Properties.Settings.DB_REDUCEConnectionString"
            connectionString="Data Source=DESKTOP-32SPV8J;Initial Catalog=DB_REDUCE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>